html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* 溢出隐藏 */
}


.com-container, .com-chart, .com-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// 柱状图的数据长方形是在canvas标签，为他设置圆角
canvas {
    border-radius: 20px;
}
